@import "tailwindcss";

@theme{
    --color-dark: #05050c;
    --color-authCard: #0f1021;
    --color-main: #7064E9;
    --color-melogray: #7376AA;
    --color-fullgray: #272838;
    --color-logoBlue: #24DBED;
    --color-logoPink: #F93AD3;
    --color-logoPurple: #7A35C9;
    --animate-line: line 5s ease infinite;
    --animate-OpenUnderline: OpenUnderline .3s linear forwards;

    --color-yellow: #FFAC30;
    --color-green: #43DC80;
    --color-blue: #51A6F5;

    --breakpoint-mid: 1000px;


    @keyframes line{
        0%{
            background-position: 100%;
        }
        100%{
            background-position: -100%;
        }
    }

    @keyframes OpenUnderline {
        0%{
            width: 0px;
            left: 0px;
        }
        100%{
            width: 100%;
            left: 0%;
        }
    }
}

@layer{
    .box{
        border-radius: 8px;
        border: 1px solid #272838;
        padding: 8px 16px;
    }

    .inherit-rounded{
        border-radius: inherit;
        background-image: linear-gradient(to bottom, #7064E9, transparent);
    }
}
/* 
::-webkit-scrollbar{
    display: none;
} */

 /* ::-webkit-scrollbar{
  scrollbar-width: thin;
  scrollbar-color: rgba(100,100,100,0.45) transparent;
} */

/* WebKit */
::-webkit-scrollbar {
  width: 6px; /* very thin */
  height: 6px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(100,100,100,0.45);
    border-radius: 9999px;
    border: 1px solid transparent;
}

::-webkit-scrollbar-thumb:hover {
    background-color: rgba(100,100,100,0.65);
}

/* ::-webkit-scrollbar {
    width: 1px;
}

::-webkit-scrollbar-track {
    background: #1e1b2e;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: #7376AA;
    border-radius: 10px;
    border: 1px solid #1e1b2e;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #7376AA;
}

html {
    scrollbar-color: #7376AA transparent;
    scrollbar-width: thin;
} */