@import "tailwindcss";
@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@theme{
    /* Darkness Levels */
    --color-void: #05050c;
    --color-midnight: #0f1021;
    --color-shadow: #272838;

    /* Neon Palette */
    --color-electric-purple: #7064E9;
    --color-cyber-cyan: #24DBED;
    --color-neon-pink: #F93AD3;
    --color-cosmic-purple: #7A35C9;

    /* Subtle Tones */
    --color-slate: #7376AA;

    /* Vibrant Accents */
    --color-matrix-green: #43DC80;
    --color-solar-yellow: #FFAC30;
    --color-sky-blue: #51A6F5;

    /* Breakpoints */
    --breakpoint-mid: 1000px;

    /* Animations */
    --animate-line: line 5s ease infinite;
    --animate-OpenUnderline: OpenUnderline .3s linear forwards;

    @keyframes line{
        0%{
            background-position: 100%;
        }
        100%{
            background-position: -100%;
        }
    }

    @keyframes OpenUnderline {
        0%{
            width: 0px;
            left: 0px;
        }
        100%{
            width: 100%;
            left: 0%;
        }
    }

    @keyframes fade-in {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }

    @keyframes zoom-in {
        from {
            transform: scale(0.95);
        }
        to {
            transform: scale(1);
        }
    }

    @keyframes hue-rotate {
        0% {
            filter: hue-rotate(0deg);
        }
        100% {
            filter: hue-rotate(360deg);
        }
    }

    --animate-hue-rotate: hue-rotate 10s linear infinite;
}

@layer{
    .box{
        border-radius: 8px;
        border: 1px solid #272838;
        padding: 8px 16px;
    }

    .inherit-rounded{
        border-radius: inherit;
        background-image: linear-gradient(to bottom, #7064E9, transparent);
    }

    .animate-in {
        animation-duration: 0.2s;
        animation-timing-function: ease-out;
        animation-fill-mode: both;
    }

    .fade-in {
        animation-name: fade-in;
    }

    /* WebKit */
::-webkit-scrollbar {
  width: 6px; /* very thin */
  height: 6px;
  background: transparent;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(100,100,100,0.45);
    border-radius: 9999px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: rgba(100,100,100,0.65);
}

::-webkit-scrollbar-corner {
    background: transparent;
}